{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block body %}
<div class="wrapper">
  <header class="header">
    <h1 class="header-title center">Tags.</h1>
  </header>
  <main aria-label="Content">
    <div class="archive-tags">
      <a class="tag-item" href="#">all</a>
      {% for term in terms %}
        <a class="tag-item" href="#{{ term.name }}">{{ term.name }}</a>
      {% endfor %}
    </div>

    {% for term in terms %}
      <h2 id="{{ term.name }}">{{ term.name | upper }}</h2>
      {% for post in term.pages %}
        <a href="{{ post.permalink }}" class="post-item">
          <span class="post-item-date">{{ post.date | date(format="%b %d") }}</span>
          <h3 class="post-item-title">{{ post.title }}</h3>
          {% if post.description %}
            <p class="post-item-description">{{ post.description }}</p>
          {% endif %}
        </a>
      {% endfor %}
    {% endfor %}
  </main>
  <footer class="footer"></footer>
  <script src="/assets/js/main.js" defer="defer"></script>
</div>
{% endblock body %}
