<!DOCTYPE html>
<html lang="{{ lang | default(value=config.default_language) }}">
{% if page is defined and page.extra.image is defined %}
  {% set_global og_image = config.base_url ~ page.path ~ page.extra.image %}
{% else %}
  {% set_global og_image = "" %}
{% endif %}
{% if page is defined %}
  {% set_global page_title = page.title %}
  {% set_global page_description = page.description | default(value="", boolean=true) %}
{% elif section is defined %}
  {% set_global page_title = section.title | default(value="") %}
  {% set_global page_description = section.description | default(value="", boolean=true) %}
{% else %}
  {% set_global page_title = "" %}
  {% set_global page_description = "" %}
{% endif %}
{% include "partials/head.html" %}
<body>

  {% include "partials/navbar.html" %}

  {% block body %}{% endblock body %}

</body>
</html>
