{# Navbar macro #}
{% macro navbar(current_path) %}
<div class="navbar" role="navigation">
  <nav class="menu">
    <input type="checkbox" id="menu-trigger" class="menu-trigger" />
    <label for="menu-trigger">
      <span class="menu-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
          <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/>
        </svg>
      </span>
    </label>
    <div class="trigger">
      <div class="trigger-container">
        {% for item in config.extra.menus.items %}
          {% if item.external %}
            <a class="menu-link" href="{{ item.url }}" target="_blank" rel="noopener">{{ item.title }}</a>
          {% elif current_path == item.url %}
            <a class="menu-link active" href="{{ item.url }}">{{ item.title }}</a>
          {% else %}
            <a class="menu-link" href="{{ item.url }}">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
        <a class="menu-link rss" href="/feed.xml">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512" fill="#ED812E">
            <title>RSS</title>
            <path d="M108.56,342.78a60.34,60.34,0,1,0,60.56,60.44A60.63,60.63,0,0,0,108.56,342.78Z"/>
            <path d="M48,186.67v86.55c52,0,101.94,15.39,138.67,52.11s52,86.56,52,138.67h86.66C325.33,312.44,199.67,186.67,48,186.67Z"/>
            <path d="M48,48v86.56c185.25,0,329.22,144.08,329.22,329.44H464C464,234.66,277.67,48,48,48Z"/>
          </svg>
        </a>
      </div>
    </div>
  </nav>
</div>
{% endmacro navbar %}

{# Footer macro #}
{% macro footer() %}
<footer class="footer">
</footer>
<script src="/assets/js/main.js" defer="defer"></script>
{% if config.extra.google_analytics %}
  <script src="/assets/js/galite.js"></script>
  <script>var galite = galite || {}; galite.UA = "{{ config.extra.google_analytics }}";</script>
{% endif %}
{% endmacro footer %}

{# Author sidebar macro #}
{% macro author() %}
<div class="author">
  <img class="author-avatar" src="{{ config.extra.author.avatar }}" alt="{{ config.extra.author.username }}" />
  <h2 class="author-name">{{ config.extra.author.name }}</h2>
  <p class="author-bio">{{ config.extra.author.bio }}</p>
</div>
{% endmacro author %}

{# Head macro #}
{% macro head(title, description, url, image, lang) %}
<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="{{ config.title }}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
  <meta name="apple-mobile-web-app-title" content="{{ config.title }}" />
  <title>{% if title %}{{ title }} - {{ config.title }}{% else %}{{ config.title }}{% endif %}</title>
  <link rel="alternate" href="{{ url }}" hreflang="{{ lang | default(value='en') }}" />
  <link rel="canonical" href="{{ url }}" />
  <meta name="description" content="{{ description | default(value=config.description) | truncate(length=200) }}" />
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <meta property="og:site_name" content="{% if title %}{{ title }} | {{ config.extra.author.name }}{% else %}{{ config.title }}{% endif %}" />
  <meta property="og:title" content="{% if title %}{{ title }} | {{ config.extra.author.name }}{% else %}{{ config.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:description" content="{{ description | default(value=config.description) | truncate(length=200) }}" />
  {% if image %}
  <meta property="og:image" content="{{ image }}" />
  {% else %}
  <meta property="og:image" content="{{ config.base_url }}/assets/img/ogp.png" />
  {% endif %}
  <meta property="og:image:width" content="640" />
  <meta property="og:image:height" content="640" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{% if title %}{{ title }} | {{ config.extra.author.twitter }}{% else %}{{ config.title }}{% endif %}" />
  <meta name="twitter:url" content="{{ url }}" />
  <meta name="twitter:site" content="@{{ config.extra.author.twitter }}" />
  <meta name="twitter:creator" content="@{{ config.extra.author.twitter }}" />
  <meta name="twitter:description" content="{{ description | default(value=config.description) | truncate(length=200) }}" />
  {% if image %}
  <meta name="twitter:image" content="{{ image }}" />
  {% else %}
  <meta name="twitter:image" content="{{ config.base_url }}/assets/img/ogp.png" />
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png" />
  <link rel="manifest" href="/assets/favicons/site.webmanifest" />
  <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="apple-mobile-web-app-title" content="Jakub Steiner" />
  <meta name="application-name" content="Jakub Steiner" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#2c2c2c" />
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
{% endmacro head %}
