/* overpass-mono-regular */
@font-face {
	font-family: Overpass Mono;
	font-style: normal;
	font-weight: 400;
	src: local("Overpass Mono Regular"), local("OverpassMono-Regular"), url(overpass-mono-regular.woff2) format("woff2");
	font-display: block;
}
/* overpass-mono-bold */
@font-face {
	font-family: Overpass Mono;
	font-style: normal;
	font-weight: 700;
	src: local("Overpass Mono Bold"), local("OverpassMono-Bold"), url(overpass-mono-bold.woff2) format("woff2");
	font-display: block;
}
/* overpass-mono-light */
@font-face {
	font-family: Overpass Mono;
	font-style: normal;
	font-weight: 300;
	src: local("Overpass Mono Light"), local("OverpassMono-Light"), url(overpass-mono-light.woff2) format("woff2");
	font-display: block;
}

